.detail-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.image-container {
  margin-right: 20px;
}

.scholarship-image {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 10px;
}

.info-container {
  text-align: left;
}

.info-container h2 {
  margin-bottom: 10px;
}

.info-container ul {
  list-style-type: none;
  padding: 0;
}

.info-container li {
  margin-bottom: 5px;
}
